@font-face{
    font-family: LilitaOne;
    src: url(LilitaOne.ttf);
}

html{
    font-family: LilitaOne;
    background-color: black;
    user-zoom: fixed;
}

body{
    margin: 0px;
    user-select: none;
}

header#toph{
    background-color: black;
    text-align: center;
    vertical-align: middle;
    max-height: 8vh;
    z-index: 5;
}

img#top{
    padding: 0.5vh 0px;
    height: 7vh;
    width: auto;
    max-width: 70vw;
    object-fit: contain;
    transition: 0.5s all;
}

div#instructions, div#remaining, div#rem{
    text-shadow: 0.3vh 0px black, 0.3vh 0.3vh black, 0.3vh -0.3vh black, 0px 0.3vh black, 0px -0.3vh black, -0.3vh 0px black, -0.3vh 0.3vh black, -0.3vh -0.3vh black, 1px 4px 5px black;
}

input, div#endscreen{
    box-sizing: border-box;
    color: black;
    width: 23vh;
    height: min(7vw, 4vh);
    text-align: center;
    font-family: LilitaOne;
    font-size: min(5vw, 3vh);

    box-shadow: 1px 4px 5px black;
    border-radius: 1vh;
    border-width: 3px;
    border-style: solid;
    border-color: black;

    background-color: white;
}

button{
    box-sizing: border-box;
    width: min(7vw, 4vh);
    height: min(7vw, 4vh);
    background-color: #efc502;
    text-align: center;
    font-family: LilitaOne;
    font-size: min(5vw, 3vh);

    position: relative;
    transition: transform 0.5s, background-color 0.5s;
    transition-timing-function: ease-in-out;

    box-shadow: 1px 4px 5px black;
    border-radius: 1vh;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

button:hover{
    transform: translateX(10px);
    background-color: #a58701;
}

button#play-again{
    width: 25.9vh;
    height: 9.3vh;
}

button#play-again:hover{
    transform: scale(1.1);
    background-color: #a58701;
}

main{ 
    z-index: -2;
    height: 88.9dvh;
    height: 88.9vh;
    color: white;
    text-align: center;
    font-size: min(5vw, 3vh);
    /*background-image: linear-gradient(0deg, #0788dc, #0051ba);*/
}

#bgvideo{
    right: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

table{
    font-size: 50%;
    margin: 0 auto;
}

.imgguess{
    object-fit: contain;
    aspect-ratio: 1/1;
    width: min(14.25vw, 9.025vh);
    height: min(14.25vw, 9.025vh);
}

.imageCell{
    width: min(15vw, 9.5vh);
    height: min(15vw, 9.5vh);
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;

    box-shadow: 0px 0px 0px #000000;
}

td{
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    background-size:  min(15vw, 9.5vh);
    
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;

    transition: transform 1s, opacity 0.2s;
    transition-timing-function: ease-in;
    margin-right: 1.5px;

    box-shadow: 0px 0px 5px #000000;
}

td.tdtop{
    font-size: min(3vw, 2vh);
    
    width: 15vw;
    max-width: 9.5vh;
}

td.incorrect{
    text-align: center;
    font-size:  min(5vw, 3vh);
    
    width: min(15vw, 9.5vh);
    height: min(15vw, 9.5vh);

    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    
    border-radius: 7px;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
}

td.correct{
    text-align: center;
    font-size: min(5vw, 3vh);
    
    width: min(15vw, 9.5vh);
    height: min(15vw, 9.5vh);

    color: black;
    background-color: rgb(0, 255, 0);
    
    border-radius: 7px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

a{
    text-decoration: none;
    color: #A0A0A0;
}

a > img{
    height: 1.5rem;
    width: auto;
}

.endscreen{
    display: none;
}

#back{
    border-width: 0px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    width: 5.5vh;
    height: 9.3vh;
    color: white;
    background-color: #c5c5c5;
    margin-right: 1.5vh;
}

#back:hover{
    background-color: #A0A0A0;
    transform: scale(0.9) translateX(0px);
}

#keyboard1, #keyboard2, #keyboard3, #keyboard4, #keyboardTop{
    display: grid;
    position: fixed;
    background-color: #5dace0;
    width: 100dvw;
    width: 100vw;
    height: 9vh;
    opacity: 0%;
}
#keyboardTop{
    display: flex;
    background-color: #bee1f8;
    bottom: 36vh;
}
#keyboard1{
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    bottom: 27vh;
}
#keyboard2{
    padding-left: 5vw;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    bottom: 18vh;
}
#keyboard3{
    padding-left: 15vw;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    bottom: 9vh;
}
#keyboard4{
    padding-left: 1vw;
    grid-template-columns: 10vw 10vw 10vw 10vw 38vw 10vw 10vw;
    bottom: 0px;
}

.keyboardKey{
    font-size: 4vh;
    text-align: center;
    line-height: 8vh;
    vertical-align: middle;
    background-color: #0788dc;
    color: #063c5f;

    width: 8vw;
    height: 8vh;
    margin: 0.5vh 1vw;
    border-radius: 1vw;
}
#keyboardSpace{
    vertical-align: bottom;
    width: 36vw;
    margin: 0.5vh 1vw;
    color: #0d5c91;
}
#keyboardBack{
    text-align: center;
    background-color: #0788dc;
    width: 8vw;
    height: 8vh;
    margin: 0.5vh 1vw;
}

.sBrawler{
    height: 8vh;
    width: auto;
    margin: 0.5vh 0.5vw;
}

#brawlerSuggestion{
    width: 90dvw;
    width: 90vw;
    display: flex;
    overflow-x: scroll;
}
#toggleKeyboard{
    width: 10dvw;
    width: 10vw;
    color: #0788dc;
    font-size: 7vh;
}

#keyboardGuess{
    background-color: #efc502;
    color: #a58701;
}

nav{
    font-family: Helvetica;
    font-weight: bold;
    line-height: 2vh;
    text-align: center;
    width: 100vw;
    background-color: black;
    height: 2vh;
}

.links{
    font-size: 1.8vh;
    margin: 0.5vh 1vh;
    color: white;
    transition: 0.5s all;
}

a.aNav{
    color: #525252;
    text-decoration: none;
}
a.aNav:hover{
    color: #dddddd;
}

a.aNavT{
    color: #d43c3c;
    text-decoration: none;
}
a.aNavT:hover{
    color: #f59393;
}

a.redlink{
    color: #d43c3c;
    text-decoration: none;
}

#streak-img{
    height: 6vh;
    width: auto;
}

#streak1{
    position: relative;
    bottom: 1vh;
    color: rgb(255, 151, 0);
    font-size: 6vh;
    margin-left: 5px;
    text-shadow: 0.1vh 0px black, 0.1vh 0.1vh black, 0.1vh -0.1vh black, 0px 0.1vh black, 0px -0.1vh black, -0.1vh 0px black, -0.1vh 0.1vh black, -0.1vh -0.1vh black;
}

#streak2{
    position: relative;
    bottom: 1vh;
    color: rgb(255, 106, 0);
    font-size: 4vh;
    text-shadow: 0.1vh 0px black, 0.1vh 0.1vh black, 0.1vh -0.1vh black, 0px 0.1vh black, 0px -0.1vh black, -0.1vh 0px black, -0.1vh 0.1vh black, -0.1vh -0.1vh black;
}

.logobutton{
    margin-bottom: 2vh;
    height: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
    width: auto;
    max-width: 5vw;
    object-fit: contain;
    cursor: grab;
    transition: 0.5s all;
}

#navmain{
    transition: 0.5s all;
    bottom: 0vh;
    position: relative;
}